*{
    margin: 0;
    font-family: "Poppins";
}
/* For navigation bar */
.nav-header{
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 50px;
}

#username-welcome{
    padding-left: 40px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #008080;

    color: white;
    font-family: "Poppins";
}

.nav-links {
    height: 100%;
}

.nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    font-size: 15px;
}

.nav-links li:hover {
    background-color: #008080;
    color: white;
}

.nav-links li:hover a {
    
    color: white;
}

.hamburger-menu {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
        background-color: #008080;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
        color: white;
    }

    .nav-links.active {
        display: flex;
    }
}

.height{

    height: 100vh;
}

.form{

    position: relative;
    
}

.form .fa-search{

    position: absolute;
    top:16px;
    left: 20px;
    
    

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 45px;
    text-indent: 33px;
    border-radius: 25px;
    background-color: #f5f5f5;
    border: transparent;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.line{
    color: #d1d5db;
}
.tab .nav-link{
    color: gray;
    font-weight: 600;
}
.tab{
    /* border-bottom: 1px solid gainsboro; */
    padding: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border-bottom: 2px solid red !important;
    border-radius: 0%;
    background-color: transparent;
    color: gray;
}
.slider .slick-slide {
    outline: none;
}
.slider-nav .slick-slide {
    cursor: pointer;
}
.slider-nav .slick-current {
    border: 2px solid #007bff;
}
.slider-nav {
    margin-top: 10px;
}
.price{
    font-size: 22px;
}
.sofa-img{
    height: 100%;
    width: 60%;
 
    padding: 0px 10px 0px 10px;
}
/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  figure img {
    margin: 0;
    padding: 0;
  }
  .modal-backdrop {

    width: 74vw;
  }  
  .offcanvas2 {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
}
.offcanvas2.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}
.offcanvas2.show:not(.hiding), .offcanvas.showing {
    transform: none;
}

.offcanvas2.hiding, .offcanvas.show, .offcanvas.showing {
    visibility: visible;
}

.black {
    background-color: #008080;
    color: white;
}

.footer-title {
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-left: 3px solid white;
    padding-left: 15px;
}

.list {
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: white;
    font-weight: 400;
}

.list1 {
    margin-bottom: 7px;
    color: white;
}

.list1:hover {
    color: white;
}

.icon {
    color: white;
}

.foot {
    line-height: 1.8rem;
}

.rhyssa {
    color: white;
}

.copyright {
    font-size: 14px;
    color: black;
    float: left;
    margin-top: 17px;
    margin-bottom: 17px;
}
.bg-decor{
    background-color: #008080;
}
.rights {
    text-align: right;
}

.footicon {
    border-radius: 4px;
    width: 50px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .footer-title {
        font-size: 14px;
    }

    .list {
        font-size: 17px;
    }

    .copyright {
        font-size: 13px;
    }

    .rights {
        text-align: center;
    }
}
li{
    list-style-type: none;
}
.accordion-header {
    margin-bottom: 25px;
    margin-top: 25px;
}
.accordion{
    --bs-accordion-active-bg:transparent ;
    border: none;
    --bs-accordion-btn-focus-box-shadow:none;
}



swiper-container {
    width: 100%;
    height: 60%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .swiperimg{
    width: 70%;
    height: 50%;
    display: block;
    object-fit: contain;
  }
  .star{
font-size: 13px;
  }
  .swiperprice{
    font-size: 12px;
  }
  .cartcheck a{
    background-color: #008080;
    border-radius: 30px;
    color: white;
    width: 16%;
    padding: 10px;
    transition: all 0.3s ease;
  }
  .cartcheck a:hover {
    background-color: white;
    color: black;
    border-radius: 0%;
  }
  .bi-heart::before {
    content: "\f417";
    padding: 10px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 80% !important;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 6px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.four-grid-cells {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

img.wide-image {
    grid-column: span 2 / auto;
}
.dot {
    height: 10px;
    width: 10px;
    background-color:green;
    border-radius: 50%;
  
    display: inline-block;
  }
  .dot-red {
    height: 10px;
    width: 10px;
    background-color:red;
    border-radius: 50%;
  
    display: inline-block;
  }

  iframe {
    padding: 10px;
    height: 350px;
    width: 300px;
}

footer {
    background-color: #008080;
    color: white;
    /* padding: 50px 0 20px; */
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 10px;
}

.footer-section h3 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
    position: relative;
}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #444f36;
    position: relative;
}

input{
    width: 400px;
    height: 30px;
    padding-right: 5px;
}

textarea{
    padding: 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 30px;
    }

}