*{
    margin: 0;
    font-family: "Poppins";
}
/* For navigation bar */
.nav-header{
    box-sizing: border-box;
    margin: 1rem;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: "Poppins";
}

.nav-links {
    height: 100%;
}

.nav-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    color: black;
    font-size: 12px;
}

.nav-links li:hover {
    background-color: #008080;
    color: white;
}

.nav-links li:hover a {
    
    color: white;
}

.hamburger-menu {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .nav-links ul {
        width: 100%;
        flex-direction: column;
        background-color: #008080;
    }

    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
        color: white;
    }

    .nav-links.active {
        display: flex;
    }
}


/* For hero section image slideshow */
#banner-section{
    width: 100%;
    position: relative;
    margin: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
    margin: auto;
    width: 100%;    
    background-color: #f0f0f0;;
}

.mySlides:first-child{
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }

  #dots {
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
  }

/* For new-in collection section */
#newin-collection{
    background-color: #f0f0f0;
}

.section-header{
    text-align: center;
}


.product-list{
    /* width: 100%; */
    height: 400px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.product:hover{
    cursor: pointer;
}


.product img{
    width: 300px;
    height: 300px;
}

.product-name{
    font-size: 12px;
    font-weight: 600;
}

.product-price{
    font-size: 14px;
    font-weight: 600;
    color: orangered;
}


/* For Deals of the Day section */

#deals-of-week{
    padding-top: 30px;
}


.time-countdown{
    margin: 0 auto;
    padding-top: 20px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "day-counter hour-counter minute-counter second-counter"
    "days hours minutes seconds";
}

.box-counter{
    background-color: #f0f0f0;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.timer{
    margin: 0 auto;
}


.text-time{
    font-size: 12px;
    padding: 10px;
}

.shop-now{
    margin: 0 auto;
    width: 100px;
    padding-left: 60px;
    font-size: 12px;
    font-weight: 600;
    
}

.shop-now a{
    text-decoration: underline;
    color: #008080;
}

.deals-image{
    margin: 0 auto;
    width: 500px;
}

#day-counter{
    grid-area: day-counter;
}

#hour-counter{
    grid-area: hour-counter;
}

#minute-counter{
    grid-area: minute-counter;
}

#second-counter{
    grid-area: second-counter;
}

#days{
    grid-area: days;
}

#hours{
    grid-area: hours;
}

#minutes{
    grid-area: minutes;
}

#seconds{
    grid-area: seconds;
}

/* For Subscribtion Section */

#subscribtion-section{
    background-color: #f0f0f0;
    height: 190px;
}

.offers-subscribe{
    margin: 0 auto;
    width: 700px;
    padding-top: 50px;
    text-align: center;
}

.email-subscribe{
    display: inline-block;
}

#email-subscribeInput{
    border: none;
    border-bottom:2px solid #008080;
    background-color: #f0f0f0;
    width: 350px;
    margin-left: 50px;
    padding-top: 20px;
}


button:hover{
    cursor: pointer;
}

.footer-section{
    height: 300px;
    background-color: #008080;
}