body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

header.banner {
    background-color: #008080;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.category-image{
    width: 20%;
    align-self: center;
    margin: 0 auto;
}

.category{
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease-in;
}


.category:hover{
    transform: scale(1.03);
}

.categories, .contractors {
    margin-bottom: 20px;
}

.categories h2, .contractors h2 {
    color: #008080;
}

#service-list, #contractor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category, .contractor {
    background-color: white;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);
}

.contractor{
    transition: all 0.3s ease-in;
}


.contractor:hover{
    background-color: #f4f4f4;
}

@media (max-width: 768px) {
    .category, .contractor {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .category, .contractor {
        flex: 1 1 100%;
    }
}
